$light-gray:  #e7f1f9
$blue:        #338EDA
$white:       #FFF
$mid-gray:    #D8D8D8
$spacing:     1.5rem
$ui-height:   2rem

@mixin border-radius($value)
  @include border-top-radius($value)
  @include border-bottom-radius($value)

body
  margin-top: 40px

.insertFormText
  margin: 5px
